# Frontend
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
VITE_API_BASE_URL=http://localhost:8000
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=

# Backend
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_ANON_KEY=
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_SERVICE_ACCOUNT_JSON=
